<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DataBaseType" value="SQLServer"/>
		<add key="DataBaseString" value="Data Source=localhost;user id=newtera;password=newtera;Initial Catalog=Newtera"/>
		<!-- The default connection string for the application schema-->
		<add key="ConnectionString" value="SCHEMA_NAME=BOOKSTORE;SCHEMA_VERSION=1.0"/>
	</appSettings>
</configuration>
