<?xml version="1.0"?>
<configuration>
   <configSections>
    <section name="textConverters" type="System.Configuration.NameValueSectionHandler"/>
    <section name="excelConverters" type="System.Configuration.NameValueSectionHandler"/>
    <section name="otherConverters" type="System.Configuration.NameValueSectionHandler"/>
 </configSections>
	<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
	<textConverters>
    <add key="Text With Header Reader" value="Newtera.Conveters.HeaderChannelDataConverter, Newtera.Conveters"/>
  </textConverters>
  <excelConverters>
    <add key="Excel数据转换器" value="Newtera.Conveters.ExcelToArrayConverter, Newtera.Conveters"/>
  </excelConverters>
  <otherConverters>
    <add key="Xml File Reader" value="Newtera.Conveters.XmlFileConverter, Newtera.Conveters"/>
    <add key="Cycle Life Matlab File Reader" value="Newtera.Conveters.BatteryCycleLifeMatFileConverter, Newtera.Conveters"/>
  </otherConverters>
  <appSettings>
    <add key="BaseURL" value=""/>
  </appSettings>
</configuration>
