<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DisableLicense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DisableLicense.Properties.Settings>
            <setting name="DisableLicense_UserInfoWebService_UserInfoService"
                serializeAs="String">
                <value>http://localhost/Newtera/WebService/UserInfoWebService.asmx</value>
            </setting>
            <setting name="DisableLicense_AdminWebService_AdminService" serializeAs="String">
                <value>http://localhost/Newtera/WebService/AdminWebService.asmx</value>
            </setting>
        </DisableLicense.Properties.Settings>
    </applicationSettings>
</configuration>