AngularSPA/
Ebaas/bin/
Ebaas/obj/
Ebaas/.vs/
Ebaas/packages/
EbaasCNStandardSetup/Debug
EbaasCNStandardSetup/Release
EbaasStandardSetup/Debug
EbaasStandardSetup/Release
EbaasSelfHostSetup/
ECM/
MLStudio/Examples/Data/
packages/
Python/
SharedLibs/
SharedProjects/
SkyServiceProxy/
TDM4X_Deploy/
TDMClientSetup/
TDMServerSetup/
TDMSetup/
TDMStandaloneSetup/
Tools/
VisualParse/
Web/
WebServices/
WebWidgets/
**/obj/
**/bin/
SmartApp/.bowerrc
SmartApp/.idea
SmartApp/jasmine
SmartApp/node_modules
SmartApp/sound
SmartApp/smartadmin-plugin
SmartApp/Service References
SmartApp/Properties
Debug/
temp/
attachments/
**/timeseries.csv
**/log.txt



