<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="BaseURL" value="http://localhost:8080" />
	<add key="HomeDir" value="C:\Program Files\Newtera\" />
    <!-- en-US for english, empty for Chinese-->
    <add key="CurrentCulture" value="zh-CN" />
    <add key="DataBaseType" value="SQLServerCe" />
    <add key="DataBaseString" value="Data Source=C:\Program Files\Newtera\Database\newtera.sdf;LCID=1033; Case Sensitive = FALSE" />
    <add key="AttachmentRepository" value="DATABASE" />
    <!-- The base directory for attachments, when not specified, use a default directory called attachments-->
    <add key="AttachmentBasePath" value="C:\Program Files\Newtera\temp\attachments" />
    <!-- The base directory for user files, when not specified, use a default directory called UserFiles-->
    <add key="UserFileBasePath" value="C:\Program Files\Newtera\temp\files" />
    <!-- The base URL for images associated with the data content-->
    <add key="ImageBaseURL" value="http://localhost/Newtera/images/items/" />
    <!-- The base Path for images associated with the data content-->
    <add key="ImageBasePath" value="C:\Inetpub\wwwroot\Newtera\images\items\" />
    <!-- Set value to 'on' to turn on the trace log, 'off' to turn off the trace log-->
    <add key="TraceLog" value="off" />
    <!-- The connection string to the culture neutral Schema-->
    <add key="ConnectionString" value="SCHEMA_NAME=Demo;SCHEMA_VERSION=1.0" />
    <!-- The connection string to the Simplified Chinese Schema-->
    <add key="ConnectionString-zh-CN" value="SCHEMA_NAME=Demo;SCHEMA_VERSION=1.0" />
    <!-- The connection string to the English Schema-->
    <add key="ConnectionString-en-US" value="SCHEMA_NAME=Demo;SCHEMA_VERSION=1.0" />
    <!-- Connection string for the schema that stores user information-->
    <add key="UserInfoSchema" value="SCHEMA_NAME=UserInfo;SCHEMA_VERSION=1.0" />
    <!-- The user directory types, such as Newtera, ActiveDirectory, Custom -->
    <add key="DirectoryType" value="Newtera" />
    <!-- The connection string to the active directory, eg. LDAP://192.168.1.1/CN=Users;DC=Yourdomain-->
    <add key="DirectoryConnectionString" value="" />
    <!-- The domain admin user name for connecting to active directory, eg. yourdomain\adminuser-->
    <add key="DirectoryUserName" value="" />
    <!-- The domain admin user password for connecting to active directory-->
    <add key="DirectoryUserPassword" value="" />
    <!-- When DirectoryType is Custom, the value defines a type name of the custom user manager. e.g ClassName,AssemblyName-->
    <add key="CustomTypeName" value="" />
    <!-- The host name of SMTP email server -->
    <add key="SmtpHost" value="localhost" />
    <!-- The port of SMTP email server -->
    <add key="SmtpPort" value="25" />
    <!-- The email sender's address -->
    <add key="From" value="dts@newtera.com" />
    <!-- The user name of sender's account -->
    <add key="EmailUser" value="dts@newtera.com" />
    <!-- The user password of sender's account -->
    <add key="EmailPassword" value="abcd" />
    <!-- The email message encoding, such as default, utf-8, Unicode, ASCII, and GB2312 -->
    <add key="EmailEncoding" value="default" />
    <!-- License Key for Newtera Server-->
    <add key="LicenseKey" value="DF36-86E9-8155-5DDA-5CCC-D1BD-94F8-BB60-EFE5-8495-9844-4FB7-08AC-5909-5A67-1BA7" />
    <add key="aspnet:MaxHttpCollectionKeys" value="5000" />
    <add key="emailService:Account" value="" />
    <add key="emailService:Password" value="" />
    <add key="as:AudienceId" value="414e1927a3884f68abc79f7283837fd1" />
    <add key="as:AudienceSecret" value="qMCdFDQuF23RV1Y-1Gq9L3cF3VmuFwVbam4fMTdAfpo" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <probing privatePath="custom" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
          <codeBase version="3.5.8080.0" href="file://c:/Program Files/Newtera/bin/System.Data.SqlServerCe.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
