<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartExcel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartExcel.Properties.Settings>
            <setting name="SmartExcel_MetaDataWebService_MetaDataService"
                serializeAs="String">
                <value>http://localhost/Newtera/WebService/MetaDataWebService.asmx</value>
            </setting>
            <setting name="SmartExcel_AdminWebService_AdminService" serializeAs="String">
                <value>http://localhost/Newtera/WebService/AdminWebService.asmx</value>
            </setting>
            <setting name="SmartExcel_CMDataWebService_CMDataService" serializeAs="String">
                <value>http://localhost/Newtera/WebService/CMDataWebService.asmx</value>
            </setting>
            <setting name="SmartExcel_UserInfoWebService_UserInfoService"
                serializeAs="String">
                <value>http://localhost/Newtera/WebService/UserInfoWebService.asmx</value>
            </setting>
            <setting name="SmartExcel_WorkflowModelWebService_WorkflowModelService"
                serializeAs="String">
                <value>http://localhost/Newtera/WebService/WorkflowModelWebService.asmx</value>
            </setting>
            <setting name="SmartExcel_OLAPWebService_OLAPService" serializeAs="String">
                <value>http://localhost/Newtera/WebService/OLAPWebService.asmx</value>
            </setting>
            <setting name="SmartExcel_AttachmentWebService_AttachmentService"
                serializeAs="String">
                <value>http://localhost/Newtera/WebService/AttachmentWebService.asmx</value>
            </setting>
        </SmartExcel.Properties.Settings>
    </userSettings>
</configuration>