<div ng-mouseenter="isHovered = true" ng-mouseleave="isHovered = false" class="dskb-item-container">
    <div class="dskb-item" ds:kanban-draggable-item drag-type="dskb.itemType" drag-index="dskb.items.indexOf(item)" is-dragging-parent="true" ng-style="{ backgroundColor: item.backgroundColor ? item.backgroundColor : (item.itemType && item.itemType.backgroundColor ? item.itemType.backgroundColor : dskb.defaultItemType.backgroundColor) }">
        <table>
            <tr>
                <td class="dskb-gripper" ng-style="{ backgroundColor: item.color ? item.color : (item.itemType ? item.itemType.color : dskb.defaultItemType.color) }">&nbsp;</td>
                <td class="dskb-item-content">
                    <div class="dskb-property dskb-property-editor">
                        <a ng-click="gotoItemDetail(item[dskb.itemNameField])" class="text-primary"><strong>{{item[dskb.itemNameField]}}</strong></a>
                    </div>
                    <div class="dskb-property dskb-property-editor">
                        <input type="text" ng-model="item['title']" readonly="readonly" />
                    </div>
                    <div class="padding-5 pull-right">
                        <span class='onoffswitch'><input type='checkbox' name='trackswitch' class='onoffswitch-checkbox' id='{{item.objId}}' ng-change="trackStatusChanged(item)" ng-model="item.track"><label class='onoffswitch-label' for='{{item.objId}}'><span class='onoffswitch-inner' data-swchon-text='{{getWord("Cancel Track")}}' data-swchoff-text='Off'></span></label></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
