<div id="taskdetails" class="widget-body">
    <!-- content goes here -->
    <div jarvis-widget id="taskinfoview" data-widget-togglebutton="false" data-widget-editbutton="false"
            data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
        <header>
            <h2>
                {{getWord("Task Info")}}
            </h2>

            <ul class="nav nav-tabs pull-right in" id="myTab">
                <li class="active">
                    <a id="tasktab" data-toggle="tab" href="#s1"><i class="fa fa-folder-open-o"></i> <span class="hidden-mobile hidden-tablet">{{getWord("Task Form")}}</span></a>
                </li>
                <li ng-show="hasItemOid">
                    <a id="itemtab" data-toggle="tab" href="#s2"><i class="fa fa-table"></i> <span class="hidden-mobile hidden-tablet">{{getWord("Item Form")}}</span></a>
                </li>
                <li ng-show="hasPacketOid">
                    <a id="packettab" data-toggle="tab" href="#s3"><i class="fa fa-bar-chart-o"></i> <span class="hidden-mobile hidden-tablet">{{getWord("Test Data Packet")}}</span></a>
                </li>
            </ul>
        </header>

        <!-- widget div-->
        <div class="no-padding">
            <div class="widget-body">
                <!-- content -->
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                        <div class="row padding-10">
                            <div id="taskform" data-ui-view="taskform" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                    <!-- end s1 tab pane -->

                    <div class="tab-pane fade" id="s2">
                        <div class="row padding-10">
                            <div id="itemform" data-ui-view="itemform" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                    <!-- end s2 tab pane -->

                    <div class="tab-pane fade" id="s3">
                        <div class="row padding-10">
                            <div id="packetform" data-ui-view="packetform" class="col-sm-12">
                            </div>
                        </div>
                    </div>
                    <!-- end s3 tab pane -->
                    <!-- end content -->
                </div>
            </div>
        </div>
    </div>
    <!-- end content -->
</div>