<!-- MAIN CONTENT -->
<div id="content">

    <div class="row">
        <big-breadcrumbs items="[getWord('Home'), getWord('Task Info')]" class="col-xs-12 col-sm-12"></big-breadcrumbs>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" widget-grid>
        <!-- row -->
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div id="taskleft" ui-view="taskleft" class="widget-body">
                    <div class="jarviswidget" id="StationsLayoutCtrl" data-widget-togglebutton="false" data-widget-editbutton="false"
                         data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                        <header>
                            <h2>{{getWord("Task Data Structure")}}</h2>
                        </header>

                        <!-- widget div-->
                        <div id="taskDataTree" class="tree smart-form">
                            <a hidden id="reloadTaskViewer" ui-sref="app.taskviewer.details" ui-sref-opts="{reload: true}">Reload</a>
                            <div class="dropdown position-fixed" ng-repeat="node in nodes" id="menu-{{node.index}}">
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-if="node.isTaskNode">
                                        <a class="pointer" role="menuitem" tabindex="1"
                                           ng-click="addNode(node.className, node.objId, node.childClass, 'ItemNode')">
                                            {{getWord("Add Test Item")}}
                                        </a>
                                    </li>
                                    <li ng-if="node.isTaskNode">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           ng-click="editNode(node.className, node.objId, node.className, node.objId, 'TaskNode')">
                                            {{getWord("Edit Task Info")}}
                                        </a>
                                    </li>
                                    <li ng-if="node.isItemNode">
                                        <a class="pointer" role="menuitem" tabindex="1"
                                           ng-click="addNode(node.className, node.objId, node.childClass, 'PacketNode')">
                                            {{getWord("Add Test Packet")}}
                                        </a>
                                    </li>
                                    <li ng-if="node.isItemNode">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           ng-click="editNode(node.className, node.objId, node.childClass, node.childObjId, 'ItemNode')">
                                            {{getWord("Edit Item Info")}}
                                        </a>
                                    </li>
                                    <li ng-if="node.isItemNode">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           ng-click="deleteNode(node.className, node.objId, node.childClass, node.childObjId, 'ItemNode')">
                                            {{getWord("Delete Item Info")}}
                                        </a>
                                    </li>
                                    <li ng-if="node.isPacketNode">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           ng-click="editNode(node.className, node.objId, node.childClass, node.childObjId, 'PacketNode')">
                                            {{getWord("Edit Packet Info")}}
                                        </a>
                                    </li>
                                    <li ng-if="node.isPacketNode">
                                        <a role="menuitem"
                                           tabindex="-1"
                                           ng-click="deleteNode(node.className, node.objId, node.childClass, node.childObjId, 'PacketNode')">
                                            {{getWord("Delete Packet Info")}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <ul data-task-treeview data-items="taskDataTree" role="tree"></ul>
                        </div>
                        <!-- end widget div -->
                     </div>
                </div>
            </div>

            <article class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                <!-- task info view div-->
                <div id="taskdetails" data-ui-view="taskdetails" class="widget-body">
                </div>
                <!-- end task info view div -->
            </article>
        </div>
    </section>
</div>