<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CNTK.CPUOnly" version="2.7.0" targetFramework="net461" />
  <package id="CNTK.Deps.MKL" version="2.7.0" targetFramework="net461" />
  <package id="CNTK.Deps.OpenCV.Zip" version="2.7.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.3.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.OwinSelfHost" version="5.2.7" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.FileSystems" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="4.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.StaticFiles" version="4.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="Topshelf" version="4.2.1" targetFramework="net461" />
</packages>